#Q1.What are the two values of the Boolean data type? How do you write them?

In [ ]:
#A boolean is a data type with two possible values:
#true (1) or false (0). The two values help represent truth conditions found in logic control structures.
First = True
Second = False

#Q2.What are the three different types of Boolean operators?

#Logical Operator
1. and       conditional AND

In [ ]:
#The logical AND operator returns true if both operands are true; otherwise, it returns false
python = True and False

2. not       unary negation

In [ ]:
#The logical NOT operator is a unary operator that negates the value of its operand. If the operand is true, the logical NOT operator returns false, and if the operand is false, it returns true.
STAR = True
print(STAR)

True

In [ ]:
print(not STAR)

False

3. or        conditional OR

In [ ]:
#The logical OR operator returns true if at least one of the operands is true; otherwise, it returns false. It can be represented using the symbol "||" or the keyword "OR."
own_credit_card = False
own_debit_card = False

if own_credit_card or own_debit_card:
    print("proceed futher the payment")
else:
    print("Ask from dad for the credit card or debit? ")
    print("Cash on delivery? ")

Ask from dad for the credit card or debit?
Cash on delivery?

In [ ]:
own_credit_card = False
own_debit_card = True

if own_credit_card or own_debit_card:
    print("proceed futher the payment")
else:
    print("Ask from dad for the credit card or debit? ")
    print("Cash on delivery? ")

proceed futher the payment

#Q3.Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

Logical AND

In [ ]:
Operand 1	Operand 2	Result
false	 | false	| false
false	 | true	  | false
true	 | false	| false

Logical OR

In [ ]:
Operand 1	Operand 2	Result
false  |	false	 | false
false	 |  true	 | true
true	 |  false	 | true
true	 |  true	 | true

Logical NOT

In [ ]:
Operand	Result
false	 | true
true	 | false

#Q4. What are the values of the following expressions?
(5 &gt; 4) and (3 == 5)
not (5 &gt; 4)
(5 &gt; 4) or (3 == 5)
not ((5 &gt; 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

In [ ]:
#1.
(5 > 4) and (3 == 5)

(5 > 4) evaluates to True
(3 == 5) evaluates to False
True and False evaluates to False

In [ ]:
#2.
not (5 > 4)

(5 > 4) evaluates to True
not True evaluates to False

In [ ]:
#3
(5 > 4) or (3 == 5)

(5 > 4) evaluates to True
(3 == 5) evaluates to False
True or False evaluates to True

In [ ]:
#4
not ((5 > 4) or (3 == 5))

(5 > 4) evaluates to True
(3 == 5) evaluates to False
True or False evaluates to True
not True evaluates to False

In [ ]:
#5
(True and True) and (True == False)

True and True evaluates to True
True == False evaluates to False
True and False evaluates to False

In [ ]:
#6
(not False) or (not True)

not False evaluates to True
not True evaluates to False
True or False evaluates to True

#Q5. What are the six comparison operators?

Equal to (==)

In [1]:
3 == 3 #It checks if two values are equal to each other.

True

Not equal to (!=)

In [2]:
3 != 4 #It checks if two values are not equal to each other.

True

Greater than (>)

In [3]:
5 > 3 #It checks if the left operand is greater than the right operand.

True

Less than (<)

In [4]:
2 < 6 #It checks if the left operand is less than the right operand.

True

Greater than or equal to (>=)

In [5]:
4 >= 4 #It checks if the left operand is greater than or equal to the right operand.

True

Less than or equal to (<=)

In [6]:
3 <= 5 #It checks if the left operand is less than or equal to the right operand.

True

#Q6.How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

Equal to (==) operator

In [7]:
#The equality operator is used to compare two values to check if they are equal to each other.
x = 5
y = 3

if x == y:
    print("x is equal to y")
else:
    print("x is not equal to y")
#In the above example, the equality operator (==) is used to compare the values of x and y. Since x is not equal to y, the condition evaluates to false, and the output will be "x is not equal to y".

x is not equal to y

Assignment (=) operator

In [8]:
#The assignment operator is used to assign a value to a variable. It assigns the value on the right-hand side of the operator to the variable on the left-hand side
x = 5
y = x

print(y)  # Output: 5
#In this example, the assignment operator (=) is used to assign the value of x to y. The value of x (which is 5) is assigned to y, so when we print the value of y, it will be 5.

5

#Q7.Identify the three blocks in this code:
spam = 0
if spam == 10:
print(&#39;eggs&#39;)
if spam &gt; 5:
print(&#39;bacon&#39;)
else:
print(&#39;ham&#39;)
print(&#39;spam&#39;)
print(&#39;spam&#39;)

Block 1

In [ ]:
if spam == 10
    print('eggs')
#This block is an if statement with the condition spam == 10. If the condition is true, it will execute the indented code print('eggs')

Block 2

In [ ]:
if spam > 5:
    print('bacon')
#This block is another if statement with the condition spam > 5. If the condition is true, it will execute the indented code print('bacon').

Block 3

In [ ]:
else:
    print('ham')
print('spam')
print('spam')
#This block consists of an else statement followed by three consecutive print statements. The else statement is associated with the second if statement. If the condition spam > 5 is false, it will execute the indented code print('ham'). After the else statement, there are three print statements that will be executed regardless of the conditions.

#Q8.Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [13]:
spam = 2

if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

Howdy

#Q9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

In [ ]:
#Ctrl + C (for Windows, Linux, and macOS): This key combination sends an interrupt signal (SIGINT) to the running program, causing it to terminate. It's the most common way to break out of an infinite loop or stop a program that is unresponsive.

#Q10.How can you tell the difference between break and continue?

break statement

In [14]:
for i in range(1, 6):
    if i == 3:
        break
    print(i)
#When encountered within a loop, the break statement immediately terminates the loop and resumes execution at the next statement outside the loop.
#The break statement is typically used to exit a loop prematurely based on certain conditions.

1
2

continue statement

In [15]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)
#When encountered within a loop, the continue statement immediately skips the rest of the loop's current iteration and moves to the next iteration.
#The continue statement is typically used to skip specific iterations or to exclude certain elements from processing within a loop.

1
2
4
5

#Q11.In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

range(10)

In [16]:
for i in range(10):
    print(i)
#This expression generates a sequence of numbers from 0 to 9 (inclusive) by default.
#In other words, the sequence will include values from 0 to 9 (a total of 10 numbers).

0
1
2
3
4
5
6
7
8
9

range(0, 10)

In [17]:
for i in range(0, 10):
    print(i)
#This expression explicitly defines the start and end points of the range

0
1
2
3
4
5
6
7
8
9

range(0, 10, 1)

In [18]:
for i in range(0, 10, 1):
    print(i)
#This expression specifies both the start point, end point, and the step size explicitly.
#The step size is explicitly set to 1 (although 1 is the default value, so it could be omitted without changing the behavior).

0
1
2
3
4
5
6
7
8
9

#Q12.Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

Using a for loop

In [19]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Using a while loop

In [20]:
i = 1
while i <= 10:
    print(i)
    i += 1
#Both programs will produce the same output, printing the numbers 1 to 10, inclusive:

1
2
3
4
5
6
7
8
9
10

#Q13.If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

In [ ]:
import spam

spam.bacon()
#In this example, the spam module is imported using the import statement. The bacon() function can then be accessed using the dot notation, spam.bacon(). This syntax specifies that you want to call the bacon() function, which is defined inside the spam module.